.title {
  font-size: 32px;
  height: 48px;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  color: var(--text-color-2);
  margin-top: 10px;
}

.topLabel {
  color: var(--text-color-2);
  height: 30px;
  margin-top: -30px;
}
