.primaryContainer {
  background-color: var(--button-color);
  border-radius: 10px;
  border-width: 0;
  height: 60px;
  width: 100%;
}

.primaryLabel {
  color: white;
  font-size: 18;
}

.secondaryContainer {
  border-width: 1px;
  border-radius: 10px;
  height: 50px;
  border-color: var(--button-color);
  background-color: var(--background);
}

.secondaryLabel {
  color: var(--button-color);
  font-size: 18px;
}

.tertiaryContainer {
  background: none;
  border: 0;
  box-shadow: none;
  padding: 0;
  width: fit-content;
}

.tertiaryLabel {
  color: var(--button-color);
  font-size: 18px;
}
