@import "tailwindcss";

@plugin "daisyui";

:root {
  --background: #fdfdfd;
  --foreground: #171717;
  --text-color-1: #23303b;
  --text-color-2: #a4a9ae;
  --button-color: #6fb37a;
  --error-color: #ff6363;
  color-scheme: light;
}

html {
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* background: var(--background); */
  color: var(--text-color-1);
  font-size: 18px;
}

input:not([type="checkbox"]):not([type="radio"]),
.input,
.select {
  border-width: 0;
  padding: 0 16px;
  height: 60px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  outline-color: var(--text-color-1);
}

input:not([type="checkbox"]):not([type="radio"]),
.input {
  transition: padding-top 0.075s ease-in-out;
}

textarea {
  border-width: 0;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  height: 100px;
  outline-color: var(--text-color-1);
  transition: padding-top 0.075s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
}

option:disabled::checkmark {
  content: "";
}

dialog {
  transition-duration: 5ms;
}

.react-day-picker .rdp-today:not(.rdp-outside) .rdp-day_button {
  background: var(--text-color-2);
  color: white;
}

.react-day-picker .rdp-selected > button {
  background: black !important;
}
