@import "tailwindcss";

@plugin "daisyui";

:root {
  /* --background: #fdfdfd; */
  --foreground: #171717;
  --text-color-1: #23303b;
  --text-color-2: #a4a9ae;
  --text-color-3: #6d7278;
  --button-color: #4d9458;
  /* --button-color: #6fb37a; */
  --error-color: #ff6363;
  color-scheme: light;
}

html {
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* background: var(--background); */
  color: var(--text-color-1);
  font-size: 18px;
}

input:not([type="checkbox"]):not([type="radio"]),
.input,
.select {
  border-width: 0;
  padding: 0 16px;
  height: 60px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  outline-color: var(--text-color-1);
}

input:not([type="checkbox"]):not([type="radio"]),
.input {
  transition: padding-top 0.075s ease-in-out;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  border-width: 0;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  font-size: 18px;
  height: 100px;
  outline-color: var(--text-color-1);
  transition: padding-top 0.075s ease-in-out;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
}

option:disabled::checkmark {
  content: "";
}

dialog {
  transition-duration: 5ms;
}

.react-day-picker .rdp-today:not(.rdp-outside) .rdp-day_button {
  background: var(--text-color-2);
  color: white;
}

.react-day-picker .rdp-selected>button {
  background: black !important;
}

.react-datepicker__header--time {
  height: 39px;
  padding-top: 10px;
}

.react-datepicker__time-list-item {
  width: calc(100% - 1px);
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  padding: 7px 10px;
}

h2.react-datepicker__current-month {
  font-family: 'Noto Sans JP';
}

.react-datepicker__header--time::after {
  content: "時刻";
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans JP';
}

.react-datepicker__input-container>input {
  background: #F3F3F5;
  box-shadow: 0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000) inset, 0 -1px oklch(100% 0 0 / calc(var(--depth) * .1)) inset;
}

.react-datepicker-ignore-onclickoutside {
  background: #F3F3F5;
  outline: 2px solid var(--input-color);
  outline-offset: 2px;
  isolation: isolate;
}

.react-datepicker__navigation--previous {
  top: 6px;
}

.react-datepicker__navigation--next {
  top: 6px;
}

.react-datepicker-time__header {
  display: none;
}

.react-datepicker__day--selected {
  background-color: var(--button-color);
  color: white;
}