.title {
  font-size: 32px;
}

.empty {
  font-size: 14px;
  color: var(--text-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.inputLabel {
  font-size: 12px;
  color: var(--text-color-2);
  top: 6;
  left: 16;
  position: absolute;
  z-index: 100;
}