.title {
  font-size: 32px;
}

.empty {
  font-size: 14px;
  color: var(--text-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.react-datepicker__header--time {
  height: 40px;
}

.react-datepicker__header--time::after {
  visibility: visible;
  content: "時刻";
  position: absolute;
  left: 0;
}

.react-datepicker-time__header {
  display: none;
}

.react-datepicker__day--selected {
  background-color: var(--button-color);
  color: white;
}