.title {
  font-size: 32px;
}

.empty {
  font-size: 14px;
  color: var(--text-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.startTime::after {
  content: "時刻";
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans JP';
}

.endTime::after {
  content: "時刻";
  text-align: center;
  font-weight: bold;
  font-family: 'Noto Sans JP';
}